*.d.ts
*.js
*.js.map
*.key
*.log
*.p12
*.pem
*.pfx
*.pid
*.sublime-*
*.swo
*.swp
*.temp
*.tmp
*.token
*cert*/
*~
.DS_Store
.cache/
.env
.env*
.env.*.local
.env.local
.globalize.json5
.idea/
.nyc_output/
.vscode/
Thumbs.db
acerts/
build/
certs/
coverage/
credentials.json
cruft/
data/
dist/
node_modules/
npm-debug.log*
prev/
tests/
token
token.json
tokens
yarn-debug.log*
yarn-error.log*
