.git/
.gitignore
*.md
!README.md
cruft/
prev/
tests/
data/
certs/
acerts/
.DS_Store
Thumbs.db
*.log
.env*
*.tmp
*.temp
.cache/
package-lock.json
.vscode/
*.ts
!*.d.ts
*.map
.gitattributes
*cert*/
token*
tsconfig.json
.globalize.json5
